:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.btn {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    
    /* ocultar houver click */
    outline: none;
}
.btn:active {
    background-color: #ccc;
}

.btn.double {
    grid-column: span 2;
}

.btn.triple {
    grid-column: span 3;
}

.btn.operacoes {
    background-color: #fa8231;
    color: #FFF;
}

.btn.operacoes:active {
    background-color: #fa8231cc;
}
